:root {
  color-scheme: light;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Pretendard", "Noto Sans KR", sans-serif;
  background: #f6f8fb;
  color: #111827;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  min-height: calc(100vh - 132px);
}
